.card{
  margin: 10% 0;
}

.container{
  background-color: #635d35;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 60px;
  text-align: center;
}

button{
  background-color: orange;
  border:none;
}
