.card {
  margin-top: 30px;
}

.register-button{
  margin-top: 30px;
  margin-left: 20%;
}

.email-error{
  color:red;
  margin-left:1%;
}


h3{
  margin-left: 5%;
  margin-bottom: 10%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;

}
