<div class="title-container">
  <h1 class="content-center">Adauga un produs</h1>
</div>

<div class="parent-container">
  <div class="container">
      <form #shopItemForm="ngForm" (ngSubmit)="onSubmit(shopItemForm)">

  <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText
                       id="name"
                       name="name"
                       [(ngModel)]="shopItemDTO.name"
                       [style]="{width:'100%'}"
                       required
                />
                <label for="name">Nume</label>
            </span>
  </div>

  <div class="card flex justify-content-center">
    <span class="p-float-label">
        <p-dropdown [options]="categories"
                    [(ngModel)]="shopItemDTO.category"
                    placeholder="Select a category"
                    [style]="{width:'100%'}"
                    id="category"
                    [showClear]="true"
                    appendTo="body"
                    name="category">
        </p-dropdown>
                <label for="category">Categorie</label>
    </span>
  </div>





  <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText
                       id="price"
                       [(ngModel)]="shopItemDTO.price"
                       [style]="{width:'100%'}"
                       name="price"
                       required
                />
                <label for="price">Pret</label>
            </span>
  </div>


  <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText
                       id="quantity"
                       [(ngModel)]="shopItemDTO.quantity"
                       [style]="{width:'100%'}"
                       name="city"
                       required
                />
                <label for="quantity">Cantitate</label>
            </span>
  </div>



  <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText id="shortDescription"
                       [(ngModel)]="shopItemDTO.shortDescription"
                       [style]="{width:'100%'}"
                       name="shortDescription"
                       required
                />
                <label for="shortDescription">Scurta descriere</label>
            </span>
  </div>



  <p-button   [style]="{margin:'30px 70px'}"
    class="register-button"
    type="submit"  >Adauga</p-button>
</form>



</div>

  <div class="container2">
    <span class="fa-solid fa-basket-shopping big-icon"></span>
  </div>
</div>
