<div class="parent-container">
  <div class="container">
    <form #subscriptionForm="ngForm" (ngSubmit)="onSubmit(subscriptionForm)">


      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText
                       id="firstName"
                       name="firstName"
                       [(ngModel)]="doctorDto.firstName"
                       [style]="{width:'100%'}"
                       required
                />
                <label for="firstName">Prenume</label>
            </span>
      </div>

      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText
                       id="lastName"
                       name="lastName"
                       [(ngModel)]="doctorDto.lastName"
                       [style]="{width:'100%'}"
                       required
                />
                <label for="lastName">Nume</label>
            </span>
      </div>

      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText
                       id="speciality"
                       name="speciality"
                       [(ngModel)]="doctorDto.speciality"
                       [style]="{width:'100%'}"
                       required
                />
                <label for="speciality">Specialitate</label>
            </span>
      </div>

      <p-button
        [style]="{margin:'30px 70px'}"
        class="register-button"
        type="submit">
        Adauga
      </p-button>
    </form>
  </div>

    <div class="container2">
      <span class="fa-solid fa-user-doctor big-icon" ></span>
    </div>
  </div>










