.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.acontainer {
  flex: 1;
  margin-top:15%;
  display: flex;
  justify-content: center;
}

.icon-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-card {
  background-color: rgba(225, 151, 10, 0.6);
  padding: 50px;
}

.card {
  margin-bottom: 30px;
}

.register-button {
  margin-top: 30px;
  margin-left: 8%;
  margin-bottom:30px;
}

.back-button {
  margin-top:30px;
  margin-left: 25%;
}

.email-error {
  color: red;
  margin-left: 1%;
}

.icon {
  max-width: 100%;
  height: auto;
}
