.docs-appointment-calendar {
  border-right: 1px solid #ccc;
}

.docs-appointment-calendar .mbsc-readonly-event {
  opacity: 0.6;
}

.docs-appointment-cont {
  height: 100%;
  overflow: auto;
}

.docs-appointment-task {
  color: #fff;
  background: #999;
  padding: 15px 30px;
  height: 90px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.demo-doctors-appointment.demo-wrapper,
.demo-doctors-appointment .mbsc-grid,
.demo-doctors-appointment .mbsc-row,
.demo-doctors-appointment .docs-appointment-calendar {
  height: 100%;
}






.container{
  margin-top:1%;
  margin-left:3%;
  border-radius: 30px;
  border:4px black;
}

.button-container {
  margin-top:2%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.second-title{
  margin-top:5%;
  margin-bottom:10%;
  margin-left:20%;
  font-weight: bolder;
  font-size:23px;
}

h1{
  margin-left:4%;
  font-size: 50px;
  font-weight: bold;
}
