.grid-item {
  align-content: space-between;
  margin: 5%;
  font-size: 30px;
  text-align: center;

}

.rounded-card{
  border-radius: 20px;
}
:host ::ng-deep .p-card {
  border-radius: 25px !important;
  width: 550px;
  border: 2px solid black;
}
