<div class="parent-container">
  <div class="container">
    <form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
      <div class="card flex justify-content-center">
            <span class="p-float-label">
               <p-dropdown [(ngModel)]="patientDto.type"
                           [options]="animalTypes"
                           [required]="true"
                           [showClear]="true"
                           [style]="{width:'100%'}"
                           appendTo="body"
                           id="type"

                           name="type"
                           placeholder="Selecteaza un animal">
        </p-dropdown>
              <label for="type">Animal</label>
            </span>
      </div>

      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input [(ngModel)]="patientDto.race"
                       [style]="{width:'100%'}"
                       id="race"
                       name="race"
                       pInputText
                       required
                />
                <label for="race">Rasa</label>
            </span>
      </div>

      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input [(ngModel)]="patientDto.subRace"
                       [style]="{width:'100%'}"
                       id="subRace"
                       name="subRace"
                       pInputText
                       required
                />
                <label for="subRace">Sub-rasa</label>
            </span>
      </div>

      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input [(ngModel)]="patientDto.name"
                       [style]="{width:'100%'}"
                       id="name"
                       name="name"
                       pInputText
                       required
                />
                <label for="name">Nume</label>
            </span>
      </div>

      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input [(ngModel)]="patientDto.age"
                       [style]="{width:'100%'}"
                       id="age"
                       name="age"
                       pInputText
                       required
                />
                <label for="age">Varsta</label>
            </span>
      </div>

      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <textarea [(ngModel)]="patientDto.healthProblems"
                          [style]="{width:'100%'}"
                          id="healthProblems"
                          name="healthProblems"
                          pInputTextarea
                          required>

                </textarea>
                <label for="healthProblems">Probleme sanatate</label>
            </span>
      </div>


      <div class="card flex justify-content-center">
            <span class="p-float-label">
                <textarea [(ngModel)]="patientDto.allergy"
                          [style]="{width:'100%'}"
                          id="allergy"
                          name="allergy"
                          pInputTextarea
                          required>

                </textarea>
                <label for="allergy">Alergii</label>
            </span>
      </div>

      <p-button
        [style]="{margin:'30px 70px'}"
        class="register-button"
        type="submit">
        Adauga
      </p-button>
    </form>


  </div>


  <div class="container2">
    <span class="fa-solid fa-dog big-icon"></span>
  </div>
</div>
