:host ::ng-deep {
  .drop-column {
    border: 1px solid transparent;
    transition: border-color .2s;

    &.p-draggable-enter {
      border-color: var(--primary-color);
    }
  }

  [pDraggable] {
    cursor: move;
  }
}


.flex-container {
  display: flex;
  margin-left:3%;
  margin-right:5%;
  border-radius:20px;
  padding:20px;
}

.options-container{
  margin-top: 5%;
  background-image: linear-gradient(to bottom right, rgb(4, 3, 3), rgba(119, 114, 115, 0.9));
  border: 3px black;
}

.zones{
  margin-top: 20px;
  background-image: linear-gradient(to top left, rgb(4, 3, 3), rgba(119, 114, 115, 0.9));
}

.zones p {
  font-weight: bold;
}

.card {
  flex: 1;
}

.drop-zone{
  background-color: rgba(184, 230, 158, 0.5);
  border-radius:20px;
  text-align:center;
  margin-left: 5%;
  margin-right: 5%;

}

.drag-items{
  margin-left: 5%;
  margin-right: 5%;

  list-style: none;
}

.generate-button {
  margin-top:4%;
  display: flex;
  justify-content: center;
}

.message-panel {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  background-color: rgba(142, 139, 139, 0.7);
  margin-left: 20%;
  border: 2px black;
  margin-right: 20%;
  border-radius:20px;
  padding: 20px;
}


.product-card {
  background-image: linear-gradient(to bottom right, rgb(237, 186, 66), rgba(255, 7, 104, 0.9));
  border-radius: 15px;
  height: 55px;
  border: 3px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-card p{
    font-size: 20px;

}

.selected-product{
  margin-bottom: 20px;
}

.message-panel p {
  font-weight:bold;
  font-size:20px;
}

h1{
  margin-left:4%;
  font-size: 50px;
  font-weight: bold;
}
