<p-button
  class="button-container"
  (click)="addDoctor()">
  Adauga un doctor nou
</p-button>


<div class="table-container">
  <table class="styled-table">
    <thead>
    <tr>
      <th>Nume</th>
      <th>Specializare</th>
      <th>Experiență</th>
      <th>Actiuni</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doctor of doctors">
      <td>{{ doctor.firstName }}</td>
      <td>{{ doctor.lastName }}</td>
      <td>{{ doctor.speciality }}</td>
      <td>
        <p-button (click)="editDoctor(doctor)" icon="pi pi-pencil" class="p-button-outlined p-button-rounded" [style]="{margin:'5px '}" ></p-button>
        <br>
        <p-button (click)="deleteDoctor(doctor)" icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger" [style]="{margin:'5px '}"></p-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
