<div class="parent-container">
  <div class="container">

    <form #clinicForm="ngForm" (ngSubmit)="onSubmit(clinicForm)">

      <div>
        <span class="p-float-label">
          <input [(ngModel)]="vetClinic.name"
                 id="name"
                 name="name"
                 pInputText
                 required
          />
          <label for="name">Nume</label>
        </span>
      </div>


      <div>
        <span class="p-float-label">
          <input [(ngModel)]="vetClinic.county"
                 id="county"
                 name="county"
                 pInputText
                 required
          />
          <label for="county">Judet</label>
        </span>
      </div>


      <div>
        <span class="p-float-label">
          <input [(ngModel)]="vetClinic.city"
                 id="city"
                 name="city"
                 pInputText
                 required
          />
          <label for="city">Oras</label>
        </span>
      </div>


      <div>
        <span class="p-float-label">
          <input [(ngModel)]="vetClinic.street" id="street"
                 name="street"
                 pInputText
                 required
          />
          <label for="street">Strada</label>
        </span>
      </div>

      <div>
        <span class="p-float-label">
          <input [(ngModel)]="vetClinic.number" id="number"
                 name="number"
                 pInputText
                 required
          />
          <label for="number">Numar</label>
        </span>
      </div>

      <div>
        <span class="p-float-label">
          <input [(ngModel)]="vetClinic.phoneNumber" id="phoneNumber"
                 name="phoneNumber"
                 pInputText
                 required
          />
          <label for="phoneNumber">Numar telefon</label>
        </span>
      </div>

      <div>
        <span class="p-float-label">
          <input [(ngModel)]="vetClinic.shortDescription" id="shortDescription"
                 name="shortDescription"
                 pInputText
                 required
          />
          <label for="shortDescription">Scurta descriere</label>
        </span>
      </div>


      <p-button [style]="{margin:'30px 40px'}" class="register-button" type="submit">Salveaza</p-button>
    </form>


  </div>


  <div class="container2">
    <span class="pi pi-building big-icon"></span>
  </div>
</div>
