.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  height: 100vh
}


.input-section{
  display: flex;
    background-color: rgba(225, 151, 10, 0.38);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 100px;


}
